@charset "UTF-8";

/* Define as propriedades a todos as elementos da página */
* {
    /* Remove a margem externa de todos os lados do elemento */
    margin: 0;
    /* Remove o espaçamento interno de todos os lados do elemento */
    padding: 0;
    /* O preenchimento e a borda serão incluídos na largura e na altura*/
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --main-bg-color: #2e2e2e;
    --main-font-color: #333;
    --section-bg-color: #fff;
    --section-shadow-color: #000;
    --label-color: #9d9d9d;
    --label-selected-color: #00acd7;
    --select-bg-color: #ededed;
    --input-bg-color: #ededed;
    --button-bg-color: #00acd7;
    --button-font-color: #fff;
}

body {
    /* Define a cor de fundo do corpo */
        background: var(--main-bg-color);
        /* Define a cor da fonte do corpo */
        color: var(--main-font-color);
        /* Define a fonte do corpo */
        font-family: Arial, sans-serif;
        /* torna o elemento um flex container, 
           transformando todos os seus elementos
           internos (filhos) em flex itens */
        display: flex;
        /* A alinha os flex itens de acordo com o eixo
           do container */
        align-items: center;
    
        /* Alinha os flex itens no container de
           acordo a direção */
        justify-content: center;
    
        /* Altura minima do elemento. 
           Unidades de tamanho da tela vh e vw.*/
        min-height: 100vh;
}


section {
    background: var(--section-bg-color);

    /* Gerar espaço ao redor do conteúdo do elemento
       30px superior e inferior
       5px esquerda e direita */
    padding: 1.875rem 0.3125rem;

    /* Arredonda os cantos do elemento */
    border-radius: 0.625rem;
    /* Adiciona sombra ao elemento */
    box-shadow: 0.3125rem 0.3125rem 0.9375rem --section-shadow-color;
    /* tamanho máximo do elemento */
    max-width: 70vw;
}

h1 {
    padding: 2.5rem 0.625rem;    text-align: center;
}

fieldset {
    border: none;
}
/* selecionar um ou mais elementos em um grupo de elementos. 
   **nth-child**, faz com que o fieldset seja selecionado de acordo com a ordem/index.
   A ordem começa em 1
*/
fieldset:nth-child(2) {
    display: flex;
    padding-top: 1.25rem;
}

fieldset:nth-child(3) {
    display: flex;
}

fieldset:nth-child(4) {
    display: flex;
    padding-top: 1.25rem;
}

fieldset:nth-child(5) {
    display: flex;
    padding-top: 1.25rem;
}

.container {
    display: flex;
    flex: 1;
}
/* components */
/* input */
.input-container {
    position: relative;
    display: flex;
    flex: 1;
}

.input-container input {
    /* altura dos elementos */
    height: 4.375rem;
    /* define a largura dos elementos */
    width: calc(100% - 1.25rem);
    margin: 0.625rem 0.625rem; /* remove a borda dos elementos*/
    border: none;

    background-color: var(--input-bg-color);
    /* arredontar os cantos dos elementos */
    border-radius: 0.25rem;
    padding: 0.875rem 0.625rem 0 0.625rem;

    color: var(--main-font-color);
    font-size: 1.125rem;
    font-weight: 700;
}

.input-container label {
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--label-color);

    /* Posiciona qualquer elemento de acordo com o
        elemento pai, deixando de fazer parte do fluxo
        comum do documento */
    position: absolute;
    line-height: 4.375rem;
    top: 0.625rem;
    left: 1.25rem;

    user-select: none;
    pointer-events: none;
    transition: 0.5s;
}

.input-container input:focus~label,
.input-container input:valid~label {
    left: 1.25rem;
    top: -0.625rem;
    font-size: 12px;
    color: var(--label-selected-color);
}

.input-container select:valid~label {
    left: 1.25rem;
    top: -0.625rem;
    font-size: 12px;
    color: var(--label-selected-color);
}

/* select */
.select-container {
    position: relative;
    display: flex;
    height: 70px;
    width: calc(100% - 1.25rem);
    margin: 0.625rem 0.625rem;
    line-height: 4.3;
    overflow: hidden;
    border-radius: 0.25rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: var(--select-bg-color);
    background-image: none;
    flex: 1;
    padding: 0.875rem 0.625rem 0 0.625rem;
    color: var(--main-font-color);
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 700;
}

select::-ms-expand {
    display: none;
}

.select-container::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1rem;
    background: --select-bg-color;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select-container:hover::after {
    color: var(--select-bg-color);
}

.select-container label {
    text-transform: uppercase;
    font-size: 0.875px;
    font-weight: 700;
    color: var(--label-color);

    /* Posiciona qualquer elemento de acordo com o
        elemento pai, deixando de fazer parte do fluxo
        comum do documento */
    position: absolute;
    line-height: 4.375px;
    top: 0.625rem;
    left: 1.25rem;

    user-select: none;
    pointer-events: none;
    transition: 0.5s;
}

.select-container select:valid~label {
    left: 0.625rem;
    top: -1.25rem;
    font-size: 0.75rem;
    color: var(--label-selected-color);
}

/* button */
.btn {
    height: 4.375rem;
    width: 100%;
    margin: 0.625rem 0.625rem;
    padding: 0.625rem;
    border: none;
    background-color: var(--button-bg-color);
    color: var(--button-font-color);
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: 0.5s;
}